<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--bootstrap-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">		
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/font.css" media="screen">	


		
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>City Sound Map</title>
	
    <!--bootstrap-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="logo"><span class="logo-first">city sound map</span><span class="logo-middle"></span><span class="logo-last"><span class="glyphicon glyphicon-map-marker"></span></span></a>
                A <a href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/#overview"><img src="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/img/govlab-logo.png" style="height: 25px;" /></a> Academy Project
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="active"><a href="{{ site.baseurl }}">home</a></li>
                <li class="active"><a href="{{ site.baseurl }}/overview.html">overview</a></li>
                <li class="active"><a href="{{ site.baseurl }}/team.html">team</a></li>
                <li class="active"><a href="{{ site.baseurl }}/hardware.html">hardware</a></li>                			
                <li class="active"><a href="http://lukevanhorn.github.com/citysoundmap">github</a></li>			
                <li><a href="{{ site.baseurl }}/blog.html">blog</a></li>
            </ul>
        </div>
    </nav>  
 
    <div id="content-wrapper">
		<div class="inner clearfix">
			<section id="main-content">
				{{ content }}
			</section>
		</div>
    </div>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-44173693-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>